[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/pytosha/new-python-repo/blob/main/HomeTask/Task1_dmrf.ipynb)

# Задание
* Собрать информацию о всех строящихся объектах на сайте "наш.дом.рф"
* Cохранить ее в pandas dataframe
* Cохранить pandas dataframe в excel
* Cохранить pandas dataframe в pickle
* Cохранить pandas dataframe в БД

# Задание посложнее (опциональное, если очень хочется)
* Написать скрипт, который скачивает фотографии всех строящихся объектов с сайта "наш.дом.рф"

## Шаг 1й - Получение списка объектов

In [4]:
import requests
import json
import pandas as pd
from tqdm import tqdm

In [3]:
limit_ = 100
all_obj_ids = []
for offset_ in tqdm(range(0,120,10)):
    url = f'https://xn--80az8a.xn--d1aqf.xn--p1ai/%D1%81%D0%B5%D1%80%D0%B2%D0%B8%D1%81%D1%8B/api/kn/object?offset={offset_}&limit={limit_}&sortField=devId.devShortCleanNm&sortType=asc&objStatus=0'
    res = requests.get(url)
    objects_data = res.json()
    objects_list = objects_data.get('data').get('list')
    objids = [x.get('objId') for x in objects_list]
    all_obj_ids.extend(objids)

100%|███████████████████████████████████████████| 12/12 [00:17<00:00,  1.44s/it]

# Данные по определенному объекту

In [4]:
# Для скачивания данных по определенному объекту, нужно добавить его id в конец строки запроса
url = f'https://xn--80az8a.xn--d1aqf.xn--p1ai/%D1%81%D0%B5%D1%80%D0%B2%D0%B8%D1%81%D1%8B/api/object/29679'

In [5]:
res = requests.get(url)

In [6]:
df = pd.DataFrame()
for i in tqdm(all_obj_ids):
    url = f'https://xn--80az8a.xn--d1aqf.xn--p1ai/%D1%81%D0%B5%D1%80%D0%B2%D0%B8%D1%81%D1%8B/api/object/{i}'
    res = requests.get(url)
    df = pd.concat([df, pd.json_normalize(res.json())], axis=0)

100%|███████████████████████████████████████| 1200/1200 [08:10<00:00,  2.45it/s]

In [7]:
df.head(10)

,errcode,data.id,data.hobjId,data.pdId,data.developer.devId,data.developer.devShortCleanNm,data.developer.devShortNm,data.developer.devFullCleanNm,data.developer.problObjCnt,data.developer.buildObjCnt,...,data.metro.colors,data.transportDistIndex,data.transportDistIndexValue,data.complexShortNm,data.airQualityIndexValue,data.greenAreaIndexValue,data.developer.bankruptStage.bankruptStageCd,data.developer.bankruptStage.bankruptStageDesc,data.developer.bankruptStage.bankruptLawUrl,data.developer.orgBankruptMsgDttm
0,0,13399,34754,28141,306,2МЕН ГРУПП,2МЕН ГРУПП,2МЕН ГРУПП,0,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,0,13398,37165,28141,306,2МЕН ГРУПП,2МЕН ГРУПП,2МЕН ГРУПП,0,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,0,13383,39024,28105,306,2МЕН ГРУПП,2МЕН ГРУПП,2МЕН ГРУПП,0,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,0,13397,37201,28141,306,2МЕН ГРУПП,2МЕН ГРУПП,2МЕН ГРУПП,0,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,0,13391,37219,28101,306,2МЕН ГРУПП,2МЕН ГРУПП,2МЕН ГРУПП,0,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,0,10891,6541,23054,3006,ААК ВОЛОГДААГРОСТРОЙ,ААК ВОЛОГДААГРОСТРОЙ,АКЦИОНЕРНАЯ АГРОСТРОИТЕЛЬНАЯ КОМПАНИЯВОЛОГДААГ...,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,0,56006,136720,795065,3980,АВАЛОН,АВАЛОН,АВАЛОН,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,0,30292,115751,120396,7699,АВАЛОН СИТИ,АВАЛОН СИТИ,АВАЛОН СИТИ,0,1,...,[#CD0505],6 / 10,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,0,18708,36235,44330,3812,АВИГРАН,АВИГРАН,АВИГРАН,0,2,...,NaN,NaN,NaN,ЖК Новое Лыткарино,6.0,NaN,NaN,NaN,NaN,NaN
0,0,18709,26010,44330,3812,АВИГРАН,АВИГРАН,АВИГРАН,0,2,...,NaN,NaN,NaN,ЖК Новое Лыткарино,6.0,NaN,NaN,NaN,NaN,NaN

In [8]:
# Сохраняем в Excel
df.to_excel("df_excel.xlsx")

In [9]:
# Сохраняем в pickle
df.to_pickle("df_pickle.pkl")